[Desktop Entry]
Type=Application
Terminal=true
StartupNotify=true
Name=Hardware Probe
Comment=Probe for hardware and upload result to the Linux hardware database
Icon=org.linux_hardware.hw-probe
Exec=hw-probe
Categories=Utility;Development;System;
Keywords=HW Probe;Hardware;Probe;
