[Desktop Entry]
Type=Application
Terminal=true
Name=Hardware Probe
Comment=Probe for hardware and upload result to the Linux hardware database
Icon=org.linux_hardware.hwprobe
Exec=hw-probe-flatpak
Categories=System;

