# exclude debian building logs
files
debhelper-build-stamp
hw-probe*
.debhelper
*.log
*.substvars

# Dolphin file manager creates the file .directory to save some folder-specific settings
*.directory

