Source: hw-probe
Priority: optional
Section: utils
Maintainer: Mikhail Novosyolov <mikhailnov@dumalogiya.ru>
Build-Depends: debhelper (>=9), perl-base (>=5)
Standards-Version: 3.9.6
Homepage: https://github.com/linuxhw/hw-probe

Package: hw-probe
Architecture: all
Depends: ${misc:Depends},
         perl-base (>=5),
         libdigest-sha-perl,
         curl,
         hwinfo,
         dmidecode,
         pciutils,
         usbutils,
         hdparm,
         lsb-release,
         edid-decode,
         smartmontools (>=6.6) | smartmontools
# Lintian says these are essential packages which should not be dependencies:
# findutils, util-linux, coreutils
Recommends: fdisk,
            acpica-tools,
            alsa-utils,
            cpuid,
            ethtool,
            i2c-tools,
            inxi,
            iw,
            kmod,
            linux-tools-common,
            lm-sensors,
            mcelog,
            memtester,
            mesa-utils,
            mount,
            net-tools,
            numactl,
            pnputils,
            procps,
            psmisc,
            rfkill,
            sysstat,
            upower,
            vainfo,
            vdpauinfo,
            vulkan-utils,
            wireless-tools,
            x11-utils,
            x11-xserver-utils,
            xinput
# Those utilities, which's logs can be parsed and uploaded, but which must not be installed as dependencies of hw-probe automatically, are 'Suggested' dependencies
Suggests: systemd,
          hplip,
          bluez,
          modemmanager,
          network-manager,
          rpm,
          efibootmgr,
          dkms,
          sane-utils,
          dracut-core
# smartmontools pulls Postfix (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898121)
# dracut-core pulls lvm2
# that is why they are 'Suggested' dependencies, but they should be 'Recommended'
Description: Hardware probe and system info collection tool
 A tool to probe for hardware and upload results
 to the Linux hardware database https://linux-hardware.org
